
#to-do-form input {
  background-color: #ffffff;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #161b21;
}

#to-do-form input::placeholder {
  color: #f4a950;
}

#to-do-form input:focus , #to-do-form button:focus{
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #f4a950;
  cursor: pointer;
  font-weight: bolder;
  color: #161b21;
}